{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <p>
                <h1>About Us</h1>
            </p>
        </div>
        <p class="article-title">Group of the students in the Big Data Analytics program at Georgian College. We have several years of experience in the Information Technology sector, software development, and quality assurance.</p><br>
        <p class="article-title"></p><br>
        <p class="article-title"></p>
    </div>
</article>
{% endblock content%}