{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <p>
                <h1>Home</h1>
            </p>
        </div>
        <p class="article-title">
            This website represents a proof of concept demonstration for a student registration page.
            On the Registration page, the user will be able to register his/her credentials and save them in a database. In order to see how many students do we have you can go to the Registered Pie Chart
            which is powered by Goole and you will be able to see Male vs Female.
        </p><br>
        <p class="article-title">We have used Python, Flask, Bootstrap, Javascript, jQuery, MongoDB cloud database and, Google Chart to build this web site.</p><br>
        <p class="article-title"></p>
    </div>
</article>
{% endblock content%}